ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#left {
  float: left;
  display: inline;
  padding: 7;
}

#right {
  float: right;
  display: inline;
  padding: 7;
}

input {
  margin: 15
}

.TopNavBar {
  padding-bottom: 20;
}

.center {
  text-align: center;
  padding: 120 0 280 0;
}

.BottomNavBar {
  padding-top: 20;
  /* position: absolute; */
  bottom: auto;
}
